source /opt/ros/iron/setup.bash
layout_poetry

export QT_QPA_PLATFORM=xcb
path_add GAZEBO_MODEL_PATH "$PWD/src/models_pkg"
path_add GAZEBO_PLUGIN_PATH "$PWD/build/car_plugin"
path_add ROS_PACKAGE_PATH "$PWD/src"
