source /opt/ros/humble/setup.bash

# Poetry setup. Shamelessly plagiarised from
# https://rgoswami.me/posts/poetry-direnv/.
local VENV=$(dirname $(poetry run which python))
export VIRTUAL_ENV=$(echo "$VENV" | rev | cut -d'/' -f2- | rev)
export POETRY_ACTIVE=1
PATH_add "$VENV"

# For some reason, not set by default on my system. This is likely
# a bug with my installation, but one I won't bother fixing. I have hobbies.
path_add LD_LIBRARY_PATH "/usr/lib/gazebo-11/plugins"
path_add GAZEBO_PLUGIN_PATH "/opt/ros/humble/lib"

# Fixes a wayland specific issue, not sure why.
export QT_QPA_PLATFORM=xcb

path_add ROS_PACKAGE_PATH "$PWD/src"
path_add GAZEBO_MODEL_PATH "$PWD/src/models_pkg"
path_add GAZEBO_PLUGIN_PATH "$PWD/build/car_plugin"
path_add GAZEBO_PLUGIN_PATH "$PWD/build/bno055_plugin"
