<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find sim_pkg)/worlds/world_with_separators.world"/>
    <arg name="paused"       value="false"/>    
    <arg name="use_sim_time" value="true"/>
    <arg name="debug"        value="false"/>
    <arg name="gui"          value="true"/>
    <arg name="verbose"      value="true"/>
  </include>

  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg car_REC.launch"                 name="car"                  output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg enter_highway_signs.launch" name="enter_highway_signs"  output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg leave_highway_signs.launch" name="leave_highway_signs"  output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg prohibited_signs.launch"    name="prohibited_signs"     output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg oneway_signs.launch"        name="oneway_signs"         output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg parking_signs.launch"       name="parking_signs"        output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg crosswalk_signs.launch"     name="crosswalk_signs"      output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg priority_signs.launch"      name="priority_signs"       output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg roundabout_signs.launch"    name="roundabout_signs"     output="screen"/>
  <param name="use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" name="track_map_server" args="$(find models_pkg)/track/materials/textures/track_map.yaml" output="screen"/>


  <!-- static tf broadcast -->
  <arg name="use_sim_time" default="true"/>  
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- camera offset -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_camera"
        args="0 0 0   0 0 0 1   chassis::link   camera::link_camera"/>
  
  <!-- camera_follow -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_camera_follow"
        args="0 0 0   0 0 0 1   chassis::link   camera_follow::link_camera"/>

  <!-- cam_birdeye_REC -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_birdeye"
        args="0 0 0   0 0 0 1   chassis::link   cam_birdeye_REC::link_camera"/>

  <!-- car_body -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_car_body"
        args="0 0 0   0 0 0 1   chassis::link   car_body::link"/>

  <!-- rear wheels -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_wheel_rear_left"
        args="0 0 0   0 0 0 1   chassis::link   wheel_rear_left::link_rim"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_wheel_rear_right"
        args="0 0 0   0 0 0 1   chassis::link   wheel_rear_right::link_rim"/>

  <!-- steer + front wheels -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_steer_left"
        args="0 0 0   0 0 0 1   chassis::link   steer_left::link_steer"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_steer_left_to_front_left"
        args="0 0 0   0 0 0 1   steer_left::link_steer   wheel_front_left::link_rim"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_chassis_to_steer_right"
        args="0 0 0   0 0 0 1   chassis::link   steer_right::link_steer"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_steer_right_to_front_right"
        args="0 0 0   0 0 0 1   steer_right::link_steer   wheel_front_right::link_rim"/>

  <!--<node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg stop_signs.launch"          name="stop_signs"           output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg pedestrian_objects.launch"  name="pedestrian_objects"   output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg obstacle_car.launch"        name="obstacle_car"         output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg members.launch"             name="members"              output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg ramp.launch"                name="ramp"                 output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg roadblock.launch"           name="roadblock"            output="screen"/>
  <node pkg="sim_pkg" type="delay.sh" args="15 sim_pkg traffic_lights.launch"      name="traffic_lights"       output="screen"/>-->

</launch>
